.sidebar {
  margin-top: 0;
  padding: 2rem 1rem;
  font-size: 28px;
  box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #adadad;
  background-color: #d6d8d8;

  .sidebar-toggle {
    display: inline-block;
    padding: .5rem;
    position: fixed;
    top: 50px;
    transform: translate(0,-50%);
    right: 2rem;
    color: $white;
    z-index: 110;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .group-list {
    margin: 1rem 0 0 0;
    padding: 0;
    list-style: none;

    .group {
      margin-bottom: .5rem;

      a {
        display: block;
        color: $black;
        text-decoration: none;
        text-transform: capitalize;
        transition: all .2s ease;

        &.active,
        &:hover,
        &:focus {
          color: lighten($black,20%);
        }
      }
    }
  }

  .button {
    display: block;
    border-radius: 10px;
    border: solid 1px $black;
    background-color: $white;
    padding: .5rem 1rem;
    text-align: center;
    color: $black;
    text-decoration: none;
  }
}